bidict==0.21.4
cached-property==1.5.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.3
Flask==1.1.2
Flask-Cors==3.0.10
Flask-SocketIO==5.0.1
h5py==3.3.0
idna==2.10
importlib-metadata==4.10.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.21.1
python-engineio==4.3.0
python-socketio==5.5.0
requests==2.25.1
six==1.16.0
typing-extensions==4.0.1
urllib3==1.26.5
Werkzeug==2.0.2
zipp==3.7.0
